<html ng-app="sickBeetz">
<head>
    <title>SickBeetz</title>
</head>

<body>

<div ng-controller="indexController">
    <button ng-click="record()">Record</button>
    <button ng-click="stop()">Stop</button>

    <button ng-click="showFile()">Show File</button>

    <br/>
    <form method="post" enctype="multipart/form-data">
        <label for="audio"><b>Select A File for input to SickBeetz</b></label><br><br>
        <input type="file" name="audio" file-model="input"><br/><br/>
    </form>
    <button ng-click="submitForm()">Submit</button>

    <audio controls ng-src="{{audiopath}}" ng-show="audiopath">PlayBack</audio>
</div>


<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/recorderjs/recorder.js"></script>
<script src="/bower_components/recorderjs/recorderWorker.js"></script>
<script src='/bower_components/angular-file-model/angular-file-model.js'></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>


</body>

</html>
