<html ng-app="sickBeetz">
<head>
    <title>SickBeetz</title>
</head>

<body>


<div ng-controller="indexController" class="container">

    <div class = "page-header">
        <h2>SickBeetz <small>Generating Beats by Beatboxing</small></h2><img class="headerimg" src="sick_beetz_banner.jpg"/>
    </div>

    <div class = 'row'>

        <div>
            <h3>Step 1: Beatbox a Beat</h3>
        </div>
        <div class = 'col-xs-5'>
            <h4>Record Audio in Your Browser:<span class="glyphicon glyphicon-ok" ng-show="srcType=='record'"></span></h4><br/>
            <div class="buttons">
                <button class="btn btn-danger btn-lg" ng-hide="recording" tooltip="Record audio." tooltip-placement="bottom" ng-click="record()"><span class="glyphicon glyphicon-record"></span></button>
                <button class="btn btn-danger btn-lg" ng-show="recording" tooltip="Stop Recording." tooltip-placement="bottom" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span></button>
            </div>
            <br/>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
            <div ng-show="recording" id="beatbox"></div>
        </div>
        <div class = 'col-xs-1'>
            <h4 class = "text-center">OR</h4>
        </div>
        <div class = 'col-xs-5'>
            <h4>Upload a File:<span class="glyphicon glyphicon-ok" ng-show="srcType=='file'"></span></h4>
            <form>
                <input type="file" name="audio" id="fileupload" file-model="input" onchange="angular.element(this).scope().filePicked()"><br/><br/>
            </form>
        </div>
    </div>
    <div class ="row" ng-show="input">
        <div>
            <h3>Play back your audio</h3>
        </div>
        <br/>
        <div id="waveform"></div>
        <br/>
        <button class="btn btn-primary btn-lg" tooltip="Play Recorded Audio" tooltip-placement="bottom" ng-click="inpVis.play()"><span class="glyphicon glyphicon-play"></span></button>
        <button class="btn btn-primary btn-lg"  tooltip="Stop Playback" tooltip-placement="bottom" ng-click="inpVis.stop()"><span class="glyphicon glyphicon-stop"></span></button>
    </div>
    <div class = "row">
        <div>
            <h3>Step 2: Select a kit and Submit</h3>
        </div>
        <div class = "col-xs-5">
            <div class="btn-group btn-group-justified">
                <label class='btn btn-primary' ng-model="kit" btn-radio="'kit_2'">Standard</label>
                <label class='btn btn-primary' ng-model="kit" btn-radio="'kit_1'">8-Bit</label>
                <label class='btn btn-primary' ng-model="kit" btn-radio="'kit_3'">Latin</label>
            </div>
            <button class='btn btn-success' ng-disabled="!input" ng-click="submitForm()">Submit</button>
        </div>
    </div>
    <div class="row" ng-show="submitted">
        <div>
            <h3>Step 3: Listen to your Sick Beat</h3>
        </div>
        <br/>
        <div ng-hide="audiopath||error">
            <progressbar value="100" class="progress-striped active"></progressbar>
            <p>Processing....</p>
            <p>Your Beat is very important to us</p>
        </div>
        <div ng-show="audiopath">
            <div id="outputWav"></div><br/>
            <button class="btn btn-primary btn-lg" tooltip="Play Audio" tooltip-placement="bottom" ng-click="outVis.play()"><span class="glyphicon glyphicon-play"></span></button>
            <button class="btn btn-primary btn-lg"  tooltip="Stop Playback" tooltip-placement="bottom" ng-click="outVis.stop()"><span class="glyphicon glyphicon-stop"></span></button>
        </div>
        <alert ng-show="error" type="danger">Oops! Looks like something messed up on our end. Make sure your uploaded file is a .wav and try again <br/> Or <a href="mailto:cegrief@u.northwestern.edu">Contact Us</a> to report a bug</alert>
        <br/>
        <br/>
    </div>


</div>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/recorderjs/recorder.js"></script>
<script src='/bower_components/angular-file-model/angular-file-model.js'></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="js/ui-bootstrap-tpls-0.13.0.js"></script>
<script src="js/wavesurfer-min.js"></script>
<script src="js/wavesurfer.microphone.js"></script>

<link rel="stylesheet" href="css/index.css">
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>



</body>

</html>
